<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head  th:include="header-head :: included-head"></head>


  <body>
    <!-- ======= Header ======= -->
       <header  id="header" class="fixed-top" th:include="common/header :: included-content"></header>

    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>About us</h2>
          <p><b>ampmjobs.in</b> is designed to maximize the benefit of getting into Part-Time jobs
             platform with so many options to choose from.This application is developed on a 
             robust platform using the state-of-art technologies while making the application 
             available, scalable and secured all the time.  </p>
        </div>
      </div>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left"
              data-aos-delay="100">
              <img src="assets/img/about.jpg" class="img-fluid" alt>
         
              <div class="mt-5 medium-screen">
				  <h2 class="previous">FAQ's : -</h2>
					<div class="faq">
					  <div class="faq-box">
							<div class="question" style="width: 100%;">Can I get a refund if I cancel the Subscription?</div>
					  		<div class="answer" style="width: 100%;">No.</div>
						</div>
					  	<div class="faq-box">
							<div class="question" style="width: 100%;">How do I Resolve the issue if my transaction has failed and the money got deducted from my bank account?</div>
					  		<div class="answer" style="width: 100%;">You have to submit the UTR No/Transaction Id and screenshot of the payment details to customer care.</div> 
						</div>
					  	<div class="faq-box">
						  	<div class="question">What Payment methods are accepted?</div>
					  		<div class="answer">UPI, Net Banking, Debit Card & Credit Card</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Can I change my preferred location?</div>
					  	  <div class="answer">Yes! You can change it in the Dashboard</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Can I change my job interests in the application?</div>
					  	  <div class="answer">No, you can request by contacting the customer support.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How do I know whether I have short-listed or not?</div>
					  	  <div class="answer">You will receive a message to your registered number or you can check in My Jobs for the status and contact the Employers.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How many jobs can I apply?</div>
					  	  <div class="answer">There is no limit for no. of jobs to apply. We suggest you to check your availability before applying</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How can I change Email/Contact number after Registration?</div>
					  	  <div class="answer">Contact Customer Support.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How do I upgrade my plan?</div>
					  	  <div class="answer">You can contact customer support or at the time of renewal.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Where can I check whether the job posted by me is successfully posted or not?</div>
					  	  <div class="answer">You can check on the Jobs Posted Tab.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How can I edit the end date after posting a job?</div>
					  	  <div class="answer">You can go to Jobs Posted tab & edit the dates.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How can I know that someone has applied for the job?</div>
					  	  <div class="answer">You can know by clicking on applicant’s tab and check no. of students applied for the job.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Can I post a job other than the 50 Part-Time jobs you provided?</div>
					  	  <div class="answer">Yes, you can. Contact Customer Support.</div>
					  	</div>

					</div>
			  </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <p>
                <b>What we do</b><br>
                ampmjobs.in Application is launched exclusively to address Part-Time/Seasonal/ Internships Jobs, exclusively for the Student community, by building a bridge between an Employer and a Student.
                Students will have access to more Part-Time job opportunities in multiple locations and domains of their choice, We are building the concept of “EARN WHILE YOU LEARN” across PAN India.
                Employers will have access to database of Students who wish to take up Part-Time jobs, and this platform helps to support Eradicate child labor and have man power resources of their choice, available at their disposal at any point of time.
              </p>

              <p>
                <b>ampmjobs.in role</b><br>
                ampmjobs.in is designed to maximize the benefit of getting into Part-Time jobs platform with so many options to choose from. 
                This application is developed on a robust platform using the state-of-art technologies while making the application available, scalable and secured all the time. 
              </p>

              <p>
                This application allows Students to register on our platform and search for Part-Time jobs of their interest as all the vacancies available in our database are listed based on the guide lines of registration.
                On the other hand the Employers can post the requirements of Part-Time jobs on the application for a stipulated plan and time of their choice. 
                The Employer can search for Students of their choice and line of activity once they are register on our application  
                We have made this application very user friendly, and the user interface is simple for both Students and Employers. As a principle we believe in very low and affordable registration processes, which will enable both the Employer and the Student to come forward and get into the right direction of Part-Time jobs concept. 
              </p>

              <ul>
                
                <b>Student Benefits</b><br>
                <li><i class="bi bi-check-circle"></i>24 hour online access - Students no longer need to look through bulletin board or any other medium of advertisements for Part-Time jobs. This application allows the Students to look for employment whenever and wherever they want through the internet.</li>
                <li><i class="bi bi-check-circle"></i>Access to more jobs in multiple locations - Students benefit by having access to more jobs available to them, than any one organization can provide on its own!</li>
                <li><i class="bi bi-check-circle"></i>Now a days the Students are multi-tasking and taking up education in different parts of the country to get into their dream line of educational qualifications.  ampmjobs.in helps them search for a Part-Time job in whichever city they are travelling for their studies. Moreover the bigger challenge comes in when it is a vacation time, and he / she has the full day in hand and they can for sure make some quality earnings, and ampmjobs.in becomes the driving platform in getting them the Part-Time jobs.</li>
                <li><i class="bi bi-check-circle"></i>2-Way job search - Not only can Students search for jobs, they can also create their own Student profiles which allow Employers to have a choice on the quality of Employee he/she is looking for their requirement. </li>
                <li><i class="bi bi-check-circle"></i>E-Notifications of new job postings – We have designed our application in such a way that, all the new job postings are directly delivered to the registered Students mails, to avoid time losses to the Student.</li>
                <li><i class="bi bi-check-circle"></i>Hot Postings - All the postings in this application are customized and managed by the Employers themselves, which makes this listings always latest and hot.   </li>
                <li><i class="bi bi-check-circle"></i>Secure online experience - Student information is kept confidential, as it is accessible only by Employers who are officially registered with us to use our service. Students will also have the flow of information on the Employer tracking system, which means that when an Employer is viewing a Student profile, the Student gets an alert that this particular employee has gone through the Student profile.</li>
                <li><i class="bi bi-check-circle"></i>Searchable and sortable job listings - Only interested in one particular type of job? No problem, we allow you to filter all of the listings to make your search easier.</li>

                <b>Employer Benefits</b><br>
                <li><i class="bi bi-check-circle"></i>Post multiple Jobs in a stipulated time frame - Employers can Post multiple jobs in the space provided for a specific time period, as ampmjobs.in gives in the flexibility of posting a requirement in various time lines.</li>
                <li><i class="bi bi-check-circle"></i>Full control over posting - Employers are no longer at the mercy of out-dated binders and bulletin boards or any other medium of advertisements for their job postings. They can update and remove their postings, anytime with just the click of a button.</li>
                <li><i class="bi bi-check-circle"></i>Searchable Student job profiles - Why wait for the Students to contact you? Many Students create their own job profiles so that Employers can contact them directly, which speeds up the hiring process.</li>
                <li><i class="bi bi-check-circle"></i>E-Notifications of new student profiles - When a Student creates a new job profile in the application which goes in line with your posting, immediately you will receive an automatic email from our system notifying you on the new profile.</li>
                <li><i class="bi bi-check-circle"></i>Secure online experience - All information is kept confidential, which makes you feel secure about your personal information being available for the world to across.</li>

              </ul>

              <p>
                <b>Need More Information?</b><br>
                Any Student or organization interested in learning more about our service, can contact our customer care services, and our representative will be glad to address your needs. You can always mail us on <a href="mailto:support@ampmjobs.in">support@ampmjobs.in</a>
              </p>
              
              <div class="mt-4 small-screen">
				  <h2 class="previous">FAQ's : -</h2>
					<div class="faq">
					  <div class="faq-box">
							<div class="question" style="width: 100%;">Can I get a refund if I cancel the Subscription?</div>
					  		<div class="answer" style="width: 100%;">No.</div>
						</div>
					  	<div class="faq-box">
							<div class="question" style="width: 100%;">How do I Resolve the issue if my transaction has failed and the money got deducted from my bank account?</div>
					  		<div class="answer" style="width: 100%;">You have to submit the UTR No/Transaction Id and screenshot of the payment details to customer care.</div> 
						</div>
					  	<div class="faq-box">
						  	<div class="question">What Payment methods are accepted?</div>
					  		<div class="answer">UPI, Net Banking, Debit Card & Credit Card</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Can I change my preferred location?</div>
					  	  <div class="answer">Yes! You can change it in the Dashboard</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Can I change my job interests in the application?</div>
					  	  <div class="answer">No, you can request by contacting the customer support.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How do I know whether I have short-listed or not?</div>
					  	  <div class="answer">You will receive a message to your registered number or you can check in My Jobs for the status and contact the Employers.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How many jobs can I apply?</div>
					  	  <div class="answer">There is no limit for no. of jobs to apply. We suggest you to check your availability before applying</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How can I change Email/Contact number after Registration?</div>
					  	  <div class="answer">Contact Customer Support.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How do I upgrade my plan?</div>
					  	  <div class="answer">You can contact customer support or at the time of renewal.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Where can I check whether the job posted by me is successfully posted or not?</div>
					  	  <div class="answer">You can check on the Jobs Posted Tab.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How can I edit the end date after posting a job?</div>
					  	  <div class="answer">You can go to Jobs Posted tab & edit the dates.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">How can I know that someone has applied for the job?</div>
					  	  <div class="answer">You can know by clicking on applicant’s tab and check no. of students applied for the job.</div>
					  	</div>
					  	<div class="faq-box">
						  <div class="question">Can I post a job other than the 50 Part-Time jobs you provided?</div>
					  	  <div class="answer">Yes, you can. Contact Customer Support.</div>
					  	</div>

					  
					</div>

			  </div>      
              
            </div>
          </div>
        </div>
      </section><!-- End About Section -->

      <!-- ======= Footer ======= -->
              <footer id="footer"  th:include="footer :: included-footer"></footer>
<!-- End Footer -->
    </main>

    <a href="#"
      class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

     <!-- Vendor JS Files -->
  <script  th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
  <script  th:src="@{/assets/vendor/aos/aos.js}"></script>
  <script  th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script  th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
  <!-- Template Main JS File -->
  <script  th:src="@{/assets/js/main.js}"></script>
  <script>
  document.querySelectorAll('.faq-box').forEach(item => {
    item.addEventListener('click', event => {
      const answer = event.currentTarget.querySelector('.answer');

      // Hide all answers except the clicked one
      document.querySelectorAll('.faq-box .answer').forEach(ans => {
        if (ans !== answer) {
          ans.style.display = 'none';
        }
      });

      // Toggle display of the clicked answer
      answer.style.display = answer.style.display === 'block' ? 'none' : 'block';
    });
  });
</script>

  </body>

</html>
