 <html lang="en"  xmlns:th="http://www.thymeleaf.org">
<!-- ======= Footer ======= -->
   <footer th:fragment="included-footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-contact">
            <h3> QUANTUM ITES PVT LTD</h3>
            <p>
              Second floor, Above Nisa Collections,<br> Next to Yamaha Showroom, <br>Tolichowki Main Road Hyderabad -500008
              <br><br>
              <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
              <strong>Email:</strong>  support@ampmjobs.in
              <br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
             <li><i class="bx bx-chevron-right"></i> <a th:href="@{/}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a th:href="@{/aboutUs}">About Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a th:href="@{/aboutStudents}">Students</a></li>
              <li><i class="bx bx-chevron-right"></i> <a th:href="@{/aboutEmployers}">Employers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a th:href="@{/contactUs}">Contact Us</a></li>
              <li th:if="${activeClass == 'home'}"><i class="bx bx-chevron-right"></i> <a target="_blank" th:href="@{/terms-conditions}">Terms&Conditions</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a th:href="@{/home/registration/1}">Find a Job</a></li>
              <li><i class="bx bx-chevron-right"></i> <a th:href="@{/home/registration/2}">Post a job</a></li>
              
            </ul>
          </div>

      

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          <span>&copy; Copyright <strong><span>ampmjobs</span></strong>. All Rights Reserved.</span>
        </div>
        <span>Powered by Quantum ITES</span>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/ampmjobs47138" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/ampmjobs.in/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/ampmjobs.in/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://in.pinterest.com/ampmjobs" target="_blank" class="google-plus"><i class="bx bxl-pinterest"></i></a>
        <a href="https://www.linkedin.com/company/ampmjobs-in" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
  </html>