<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head  th:include="header-head :: included-head"></head>


<body>

    <!-- ======= Header ======= -->
       <header  id="header" class="fixed-top" th:include="common/header :: included-content"></header>

    <!-- End Header -->
    <main id="main">
 <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Students</h2>
        <p>Students need to register simply by providing basic information about them, and also completing the mandatory registration information.</p>
      </div>
    </div><!-- End Breadcrumbs -->
    
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
     <div class="container" data-aos="fade-up">
 
       <div class="row">
         
         <div class="col-lg-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
           <div class="icon-boxes d-flex flex-column justify-content-center">
             <div class="row">
               <div class="col-xl-3 d-flex align-items-stretch">
                 <div class="icon-box mt-4 mt-xl-0">
                   <i class="ri-pencil-fill"></i>
                   <h4>Register</h4>
                   <p>Students need to register simply by providing basic information about them, and also completing the mandatory registration information.</p>
                 </div>
               </div>
               <div class="col-xl-3 d-flex align-items-stretch">
                 <div class="icon-box mt-4 mt-xl-0">
                   <i class="ri-search-fill"></i>
                   <h4>Search Jobs</h4>
                   <p>Once a Student is registered he/she will have access to search and apply for Part-Time jobs on our portal based on their interests & skills in a desired location and timing </p>
                  </div>
               </div>
               <div class="col-xl-3 d-flex align-items-stretch">
                 <div class="icon-box mt-4 mt-xl-0">
                   <i class="ri-chat-check-fill"></i>
                   <h4>Get Selected </h4>
                   <p>Students gets selected by the Employer directly based on his/her skills required for the Part-Time job</p>
                 </div>
               </div>
               <div class="col-xl-3 d-flex align-items-stretch">
                 <div class="icon-box mt-4 mt-xl-0">
                   <i class="ri-money-rupee-circle-line"></i>
                   <h4>Get Paid</h4>
                   <p>Payment is made Hourly/Shiftily/Daily/Weekly based on the nature of job and the mode of payment by the Employer</p>
                 </div>
               </div>
               
             </div>
           </div><!-- End .content-->
         </div>
 
       </div>
 
     </div>
    </section><!-- End Why Us Section -->
	  
   <section class="about"> 
    <div class="container" data-aos="fade-up">

      <div class="row">
        
        <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
         
            <ul>
              <li><i class="bi bi-check-circle"></i>24 hour online access - Students no longer need to look through bulletin board or any other medium of advertisements for Part-Time jobs. This Application allows the Students to look for employment whenever and wherever they want through the internet.</li>
              <li><i class="bi bi-check-circle"></i>Access to more jobs in multiple locations - Students benefit by having access to more jobs available to them, than any one organization can provide on its own!</li>
              <li><i class="bi bi-check-circle"></i>Now a days the Students are multi-tasking and taking up education in different parts of the country to get into their dream line of educational qualifications.  ampmjobs.in helps them search for a Part-Time job in which ever city they are travelling for their studies. Moreover the bigger challenge comes in when it is a vacation time, and he / she has the full day in hand and they can for sure make some quality earnings, and ampmjobs.in becomes the driving force in getting them the Part-Time jobs.</li>
              <li><i class="bi bi-check-circle"></i>2-Way job search - Not only can Students search for jobs, they can also create their own Student profiles which allow 
                 to have a choice on the quality of employee he/she is looking at. </li>
              <li><i class="bi bi-check-circle"></i>E-Notifications of new job postings – We have designed our Application in such a way that, all the new job postings are directly delivered to the registered Students mails, to avoid time losses to the Student.</li>
              <li><i class="bi bi-check-circle"></i>Hot Postings - All the postings in this Application are customized and managed by the Employers themselves, which makes this listings always latest and hot.</li>   
              <li><i class="bi bi-check-circle"></i>Secure online experience - Student information is kept confidential, as it is accessible only by Employers who are officially registered with us to use our service. Students will also have the flow of information on the Employer tracking system, which means that when an Employer is viewing a Student profile, the Student gets an alert that this particular Employee has gone through the Student profile.</li>
              <li><i class="bi bi-check-circle"></i>Searchable and sortable job listings - Only interested in one particular type of job? No problem, we allow you to filter all of the listings to make your search easier.</li>
            </ul>
        
        </div>
      </div>

    </div>
   </section>
	 

      
  
    </main>  
  
  
  <!-- ======= Footer ======= -->
          <footer id="footer"  th:include="footer :: included-footer"></footer>
<!-- End Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 <!-- Vendor JS Files -->
  <script  th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
  <script  th:src="@{/assets/vendor/aos/aos.js}"></script>
  <script  th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script  th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>

  <!-- Template Main JS File -->
  <script  th:src="@{/assets/js/main.js}"></script>

</body>

</html>
