<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head  th:include="admin/header-head :: included-head"></head>


<body>
  <!-- ======= Header ======= -->
      <header  id="header" class="fixed-top" th:include="admin/header :: included-content"></header>
  
  <!-- End Header -->
  <main id="main">
<br><br><br><br><br><br>
  <div align="center"> Dashboard</div>
  
  </main>

  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
  <script th:src="@{/assets/vendor/aos/aos.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
  
  <!-- Breadcrumbs Carousel Necessary Scripts -->
<!-- Add jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add Slick Carousel JS -->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
</body>
</html>