<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="header-head :: included-head"></head>
<head>
<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" rel="stylesheet" type="text/css" />

</head>
<body>

  <header id="header" class="fixed-top" th:include="common/header :: included-content"></header>

  <main th:if="${isLinkValid == false}">
    <div class="form-body">
      <form class="login-form">

        <div class="prepassword-message-box">
          <i class="fa fa-envelope" style="font-size: 48px; color: red"></i>
          <h3>The link you are trying to access has expired.</h3>
        </div>
        <div class="footer-container">
          <span class="footer-message">&copy ampmjobs all rights reserved</span>
        </div>
      </form>
    </div>
  </main>

  <main id="main" th:if="${isLinkValid == true}">

    <!---student Account Creation Form-->

    <div class="form-body">

      <form class="login-form" id="reGenPassForm">

        <h3>Forgot Password</h3>
        <p id="match" class="invalid"></p>
        <input id="enter-password" type="password" placeholder="Enter Password" required="required"> <input id="confirm-password"
          type="password" placeholder="Confirm Password" required="required"> <input type="submit" id="login-button" value="submit">
        <div class="password-rules">
          <span>* Must contain at least eight characters.</span>
          <span>* With one special character, one uppercase, one lowercase and one
            number.</span>
        </div>
      </form>


    </div>



  </main>
  <!-- End #main -->


  <footer id="footer" th:include="footer :: included-footer"></footer>

  <div id="updateReSetPass" th:attr="reset-pass-url-update=@{/home/updateResetPassword}"></div>
  <div id="loginUrl" th:attr="login-user-url=@{/login}"></div>

  <input type="hidden" id="encodedEmail" th:value="${encodedEmail}">


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
  <script th:src="@{/assets/vendor/aos/aos.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
  <script th:src="@{/assets/js/resetPassword.js}"></script>

</body>

</html>