<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head  th:include="header-head :: included-head"></head>
<head>
 <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" rel="stylesheet" type="text/css" />

</head>

<body>
  <!-- ======= Header ======= -->
    <header  id="header" class="fixed-top" th:include="common/header :: included-content"></header>

  <!-- End Header -->


  <main id="main">
    
    
    <div class="form-body" id="passResetDiv">

        <form class="login-form" id="passwordResetForm">

            <h3>Verify Email</h3>
            <input id="enter-email" autocomplete="off" autofocus="autofocus" type="email" placeholder="Enter Email" required>

            <input  id="login-button" type="submit" value ="Get Link">

            <div class="password-rules">
              <span>* Enter your registered email to proceed.</span>
            </div>

           </form>


    </div>
    
     <div class="form-body" id="success-pass-reset" style="display: none;">
        <form class="login-form">

        <div class="prepassword-message-box">
          <i class="fa fa-envelope" style="font-size: 48px; color: #444444"></i>
          <h3>A password reset link has been sent to the registered email.</h3>
        </div>
        <div class="footer-container">
                <span class="footer-message">&copy ampmjobs all rights reserved</span>
            </div>
        </form>  
    </div>

    

  </main><!-- End #main -->

  
  <!-- ======= Footer ======= -->
         <footer id="footer"  th:include="footer :: included-footer"></footer>
<!-- End Footer -->
 <div id="emailCheck" th:attr="reset-pass-email-url=@{/home/sentResetEmailLink}"></div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
  <script th:src="@{/assets/vendor/aos/aos.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/resetPassword.js}"></script>

</body>

</html>