<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password | AMPMJOBS</title>

</head>
<body>


  <h3><b>Dear Subscriber,</b> </h3> 
  
  <p> <br> Thank you for creating an account with <b>ampmjobs</b>. Reset your Password by clicking on the link below: <br>
    <br> <b>[[${linkInfo}]]</b><br> <br> <b>Note:</b> If you are unable to click the link, please copy and paste it into your web browser&#39;s
    address bar.<br> <br> <b>Thank you for choosing ampmjobs <br> Best Regards, <br> Customer
    Care Services <br> <br> QUITES</b></p>
<!--${linkInfo}-->
</body>
</html>