<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Verification | AMPMJOBS</title>
</head>
<body>

  <h3><b>Dear Subscriber,</b> </h3> 
  
  <p> <br> Thank you for creating an account with <b>ampmjobs</b>. To ensure the security of your account and activate
    its full functionality, please verify your email address by clicking on the link below: <br>
    <br> <b>[[${linkInfo}]]</b><br> <br> <b>Note:</b> If you are unable to click the link, please copy and paste it into your web browser&#39;s
    address bar. <br> <br> Once your email address has been verified, you will have full access to our services. If you did not create an
    account with <b>ampmjobs</b>, please ignore this email. <br> <br> <b>Thank you for choosing ampmjobs <br> Best Regards, <br> Customer
    Care Services <br> <br> QUITES</b></p>

</body>
</html>