!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head  th:include="header-head :: included-head"></head>

<body>

   <!-- ======= Header ======= -->
  <header  id="header" class="fixed-top" th:include="common/header :: included-content"></header>
  <!-- End Header -->
  <br><br><br><br><br>
    <div class="container">
    <div class="access-denied" align="center">
     <div class="image-container">
      <img class="circular-image" th:src="@{/assets/img/404.jpg}" alt="404 page"/>
     </div>
      <br>
    </div>
  </div>
<footer id="footer"  th:include="footer :: included-footer"></footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
  <script th:src="@{/assets/vendor/aos/aos.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
</body>
</html>